body{
	margin: 0;
	padding: 0;
	background: #B07609;
	transition: 2s;
}

body.active {
	background: #FCA500;
}

.toggle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background: #fff;
	cursor: pointer;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
	overflow: hidden;
}

.toggle span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	width: calc(100% - 14px);
	height: 3px;
	background: #737373;
	box-shadow: 0 -12px 0 #737373, 0 12px 0 #737373;
	transition-property: transform, box-shadow;
	transition-delay: 0s, 1s;
	transition-duration: 0.5s, 0.5s;
}

.toggle.active span {
	box-shadow: 50px -12px 0 #737373, -50px 12px 0 #737373;
	transform: translate(-50%, -50%) rotate(-315deg);
	transition-property: box-shadow, transform;
	transition-delay: 0s, 0.5s;
	transition-duration: 0.5s, 0.5s;
}

.toggle span:before {
	content: '';
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 3px;
	height: 36px;
	background: #737373;
	transition: 0.5s;
	transition-delay: 0.5s;
}

.toggle.active span:before {
	top: 50%;
	transition-delay: 1s;
}